.profile-page {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background: var(--profile-bg);
  border-radius: 12px;
  color: var(--profile-text);
  font-family: 'Lato', sans-serif;
}

.profile-form label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
}

.-input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid var(--input-border);
  background: var(--input-bg);
  color: var(--input-text);
  font-size: 14px;
}

.-input:focus {
  outline: none;
  border-color: var(--input-focus-border);
  box-shadow: 0 0 4px var(--input-focus-shadow);
}

.profile-btn {
  margin-top: 1rem;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.profile-btn:hover {
  background-color: var(--btn-hover-bg);
}


.errMsg {
  color: var(--err-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.successMsg {
  color: var(--success-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

